@use 'base/variables' as v;

@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin  desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin  desktopXL {
    @media (min-width: v.$desktopXL) {
        @content;
    }
}
@mixin  desktopXXL {
    @media (min-width: v.$desktopXXL) {
        @content;
    }
}
@mixin  desktopXXXL {
    @media (min-width: v.$desktopXXXL) {
        @content;
    }
}
@mixin boton($color, $texto) {
    background-color: $color;
    border: 3px solid $texto;
    margin-top: 2rem;
    font-size: 2rem;
    padding: 1rem 3.5rem;
    border-radius: 1rem;
    font-weight: 500;
    text-align: center;
    color: $texto;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 200ms cubic-bezier(0.33, 0, 0.19, 1);
    
    &:hover {
        cursor: pointer;
        background-color: $texto;
        color: $color;
        transition: all 200ms cubic-bezier(0.33, 0, 0.19, 1);
    }
    @include tablet {
        width: auto;
    }
}