$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
$desktopXXL: 1600px;
$desktopXXXL: 1920px;

$blanco: #fff;
$negro: #000;
$gris: #e1e1e1;
$dorado: #c69749;
$gris-oscuro: #595959;

$fuentePrincipal: 'Ubuntu', sans-serif;