@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: v.$blanco;
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .8);
    z-index: 10;
    
    &__nav {
        height: 8rem;
        max-width: 140rem;
    }
}

.nav {
    &__menu {
        opacity: 0;
        top: 0;
        transition: opacity .3s, top .3s;
    }
    &__data {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: inline-flex;
        align-items: center;
    }
    &__toggle {
        position: relative;
        width: 3.2rem;
        height: 3.2rem;
    }

    &__burger,
    &__close {
        position: absolute;
        width: max-content;
        height: max-content;
        inset: 0;
        margin: auto;
        font-size: 1.25rem;
        cursor: pointer;
        transition: opacity .1s, transform .4s;
    }

    &__close {
        opacity: 0;
    }
}

@media screen and (max-width: 1118px) {
    .nav__menu {
        position: absolute;
        left: 0;
        top: 8rem;
        width: 100%;
        height: calc(100vh - 8rem);
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: top .4s opacity .3s;

        &::-webkit-scrollbar {
            width: 0;
        }
    }
}

.nav {
    &__list {
        background-color: v.$blanco;
        padding-top: 1rem;
        list-style: none;
    }

    &__link {
        color: v.$negro;
        background-color: v.$blanco;
        font-weight: 500;
        padding: 1.25rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color .3s;
        &:hover {
            background-color: v.$gris;
        }
    }
}

.show-menu {
    opacity: 1;
    top: 8rem ;
    pointer-events: initial;
    transition: opacity .3s, top .3s;
}

.show-icon .nav__burger {
    opacity: 0;
    transform: rotate(90deg);
}
.show-icon .nav__close {
    opacity: 1;
    transform: rotate(90deg);
}
.dropdown {
    
    &__item {
        cursor: pointer;
    }

    &__arrow {
        font-size: 1.25rem;
        font-weight: initial;
        transition: transform .4s;
    }

    &__link,
    &__sublink {
        padding: 1.25rem 1.25rem 1.25rem 3.5rem;
        color: v.$negro;
        background-color: v.$gris;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: .5rem;
        font-weight: 500;
        transition: background-color .3s;
    }

    &__link:hover,
    &__sublink:hover {
        background-color: v.$blanco;
    }

    &__menu,
    &__submenu {
        max-height: 0;
        overflow: hidden;
        list-style: none;
        transition: max-height .4s ease-out;
    }

    &__item:hover &__menu,
    &__subitem:hover &__submenu {
        max-height: 1000px;
        transition: max-height .4s ease-in;
    }

    &__item:hover &__arrow {
        transform: rotate(180deg);
    }

    &__add {
        margin-left: auto;
    }
    
    &__sublink {
        background-color: v.$gris-oscuro-claro;
        padding-left: 5.5rem;
    }
}

.show-submenu {
    max-height: 1000px;
    transition: max-height .4s ease-in;
}

.show-add .dropdown__arrow,
.show-add .dropdown__add{
    transform: rotate(180deg);
}

.show-subitem {
    max-height: 1000px;
    transition: max-height .4s ease-in;
}

@media screen and (min-width: 1118px) {
    .header__nav {
        display: flex;
        justify-content: space-between;
    }

    .nav {
        &__toggle {
            display: none;
        }

        &__list {
            height: 100%;
            display: flex;
            column-gap: 3rem;
        }

        &__link {
            height: 100%;
            padding: 0;
            justify-content: initial;
            column-gap: .45rem;

            &:hover {
                background-color: transparent;
            }
        }

        &__menu {
            opacity: 1;
        }
    }
    .dropdown {
        &__item,
        &__subitem {
            position: relative;
        }

        &__menu,
        &__submenu {
            max-height: initial;
            overflow: initial;
            position: absolute;
            left: 0;
            top: 6.5rem;
            border-radius: .8rem;
            opacity: 0;
            pointer-events: none;
            transition: opacity .3s, top .3s;
            -webkit-box-shadow: 6px -5px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 6px -5px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 6px -5px 5px 0px rgba(0,0,0,0.75);
        }

        &__menu > li:first-child >a:first-child,
        &__submenu > li:first-child >a:first-child {
            border-top-right-radius: .8rem;
            border-top-left-radius: .8rem;
        }

        &__menu > li:last-child >a:last-child,
        &__menu > li:last-child > .dropdown__link,
        &__submenu > li:last-child >a:last-child {
            border-bottom-right-radius: .8rem;
            border-bottom-left-radius: .8rem;
        }

        &__link,
        &__sublink {
            background-color: v.$blanco;
            padding-inline: 1rem 2rem;

            &:hover {
                background-color: v.$gris;
            }
        }

        &__sublink {
            width: 15rem;
        }

        &__subitem .dropdown__link {
            padding-inline: 1rem;
        }

        &__submenu {
            position: absolute;
            left: 100%;
            top: .6rem;
        }

        &__item:hover .dropdown__menu {
            opacity: 1;
            top: 6rem;
            pointer-events: initial;
            transition: top .3s;
        }

        &__subitem:hover &__submenu {
            opacity: 1;
            top: 0;
            pointer-events: initial;
            transition: top .3s;
        }
    }
}