@use 'base/variables' as v;
@use 'base/mixins' as m;

.mision-page {

    &__block-white {
        display: block;
        height: 8rem;
        width: 100%;
    }

    &__header {
        height: 45rem;
        background-image: linear-gradient(to left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), url(../img/imagen_3.webp);
        background-position: top left;
        background-repeat: no-repeat;
        background-size: cover;
        
        @include m.tablet {
            background-position: top center;
            height: 35rem;
        }
        
        @include m.desktop {
            height: 45rem;
        }

    }
   
    &__titulo {
        margin: 0;
        font-size: 5rem;
        padding: 35rem 0;
        color: v.$blanco;
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);

        @include m.tablet {
            padding: 0;
            font-size: 7rem;
        }
    }
    
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 5rem;

        * {
            font-size: 1.8rem;
            line-height: 3.5rem;
        }

        * span {
            font-weight: bold;
        }

        * h2 {
            font-size: 3rem;
            margin-top: 0;
        }

        * p {
            font-size: 1.8rem;
        }
    }

    
}

.mp__block_1 {
    text-align: center;
    line-height: 3.5rem;
    max-width: 105rem;
    padding: 6rem 4rem;

    &-image {
        display: none;
    }
}

.mp__block_2 {
    margin: 0 auto;
    max-width: 105rem;
    padding: 6rem 4rem;
    
    &__titulo {
        text-align: center;
        margin: 0;
    }
}

.container__mision {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    align-items: center;
    height: auto;
    padding: 7rem 5rem;
    color: v.$negro;
    text-align: center;
    width: 100%;
    @include m.desktop {
        grid-template-columns: repeat(2, 1fr);
    }
}

.mp__block_3 {
    @include m.desktop {  
        text-align: center;  
    }
    &__container {
        // grid-row: 2 / 3;
        padding-bottom: 7rem;
        @include m.desktop {
            grid-row: 1 / 2;
            width: 45rem;
            height: 45rem;
            padding: 0;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__titulo {
        > span {
            font-size: 3rem;
            text-decoration: underline;
            font-style: oblique;
        }
    }
    &__imagen {
        background-image: url(../img/imagen_3.webp);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 45rem;
        height: 45rem;
        margin: auto;
    }
}

.mp__block_4 {
    @include m.desktop {
        text-align: right; 
    }
    &__container {
        @include m.desktop {
            padding-right: 4rem;
            grid-column: 2 / 3;
        }
    }
    &__titulo {
        > span {
            font-size: 3rem;
            text-decoration: underline;
            font-style: oblique;
        }
    }
}

.mp__block_5 {
    @include m.desktop {
        text-align: left;
    }
    &__container {
        @include m.desktop {
            padding: 0; 
        }
    }
    &__titulo {
        > span {
            font-size: 3rem;
            text-decoration: underline;
            font-style: oblique;
        }
    }
}