@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloque_4 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/imagen_2.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.transmisiones {
    padding: 20rem 0;
    height: auto;

    &__contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__titulo {
        margin: 0;
    }

    &__texto {
        width: 70%;
        margin: 0 auto;
        text-align: center;
        font-size: 3rem;
        color: v.$blanco;

        @include m.desktop {
            font-size: 4rem;
        }
    }

    &__botones {
        display: flex;
        margin: 3rem 0;
        gap: 2rem;
    }

    &__boton {
        @include m.boton(transparent, v.$blanco);
        display: inline-flex;
        gap: 1rem;

        path {
            fill: v.$blanco;
        }

        span {
            color: v.$blanco;
        }
    }

}

.facebook {
    &:hover {
        background-color: v.$azul-fb;
        border-color: v.$azul-fb;
        color: v.$blanco;
        cursor: pointer;
        transition: all 200ms cubic-bezier(0.33, 0, 0.19, 1);
    }
}

.youtube {
    &:hover {
        background-color: v.$rojo;
        border-color: v.$rojo;
        color: v.$blanco;
        cursor: pointer;
        transition: all 200ms cubic-bezier(0.33, 0, 0.19, 1);
    }
}