@use 'base/variables' as v;
@use 'base/mixins' as m;

.ubicacion {
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem;
    align-items: center;

    &__titulo {
        margin: 1rem 0;
    }

    &__texto {
        margin: 1rem 0;
        text-align: center;
        line-height: 1.5;

        @include m.tablet {
            font-size: 2rem;
        }
    }

    @include m.tablet {
        padding: 5rem 20rem;
    }

    &__boton {
        @include m.boton(v.$blanco, v.$negro);
    }
}