@use 'base/variables' as v;
@use 'base/mixins' as m;

.video {
    width: 100%;
    height: auto;
    padding-top: 8rem;

    @include m.desktopXL {
        padding-top: 0;
        height: 80rem;
        overflow: hidden;
    }

    &__mp4 {
        width: 100%;
        display: block;
    }
}